:root {

  // fonts
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  // colors
  
  --background-color:#1c1b22;
  --background-color-dark:#121216;
  --background-font-color: white;

  --accent-color:#c066e8;
  --accent-color-dark:#5c316f;

  // shape
  --border-radius: 5px;
  


}