.container{
  height: calc(100vh );
  width: calc(100vw );
  
}

.titleInput{

  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.fileSectionContainer{
  height: 40vh;
  max-width: 100%;
  text-align: center;
}

.fileBox{
  margin-bottom: 2rem;
}