
.pageContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap:2rem;
  padding: 1rem;
  min-height: calc(100vh );
}
.header{
  display: flex;
  gap:1rem;
  align-items: flex-end;
  input{
    font-size: 1.5rem;
  }
}


.toolbar{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap:10px;

}



.workspace{
  display: grid;
  grid-template-columns: 1fr 200px; 
  height: 100%;
  gap:1rem;
  
}

.sidebar{
  display: flex;
  flex-direction: column;
  // gap:5px;
}
