

.container{
  display: flex;
  flex-direction: column;
  gap:10px;
  & > section, & > header, & > div{
    padding-bottom: 10px;
    &:not(:last-child){
      border-bottom:solid 1px var(--background-color-light);
    }
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
}

.header{
  display: flex;
  justify-content: space-between;
}


.sectionTitle{
  font-weight: 400;
}

.generateButton{
  margin-top:20px
}

.field{
  display: flex;
  gap:1em;
  align-items: center;

  input{
    max-width: max-content;
  }

  label,.fieldValue{
    display: block;
    width: 100%;
  }

  .fieldValue{
    display: flex;
    justify-content: flex-end;
  }

  
  
}

.doneIcon{
  margin-left: 10px;
}
.isDone{
  color: var(--status-color-success);
}