.button{
  padding: .5rem 1rem;
  border-radius: var(--border-radius);
  background: transparent;
  color:currentColor;
  cursor: pointer;
  

  &:disabled{
    opacity: .3;
    pointer-events: none;
    cursor: default;
  }
}

.secondary{
  border:solid 1px#535353;
  background: linear-gradient(80deg, var(--background-color-dark), var(--background-color)); 
  &:active{
    border-color:var(--accent-color-dark);;
   background: #121216;
  }
}

.primary{
 @extend .secondary;
 font-weight: 700;
 color:var(--accent-color);
}



.tertiary{
  border:none;
  text-decoration: underline;
  &:active{
    color:var(--accent-color);;
  }
}