.button{
  padding: .5rem 1rem;
  border-radius: var(--border-radius);
  background: transparent;
  color:currentColor;
  cursor: pointer;
  display: inline-block;

  &:disabled{
    opacity: .3;
    pointer-events: none;
    cursor: default;
  }
}

.block{
  display: block;
  width: 100%;
}
.secondary{
  border:solid 1px#535353;
  background:var(--background-color); 
  &:active{
    border-color:var(--accent-color-dark);;
   background: #121216;
  }
}

.primary{
 @extend .secondary;
 font-weight: 600;
 background: var(--accent-color-dark);
 border:none;
  &:active{
    background: var(--accent-color-dark);
    color: var(--background-color-dark);
  }
}



.tertiary{
  border:none;
  text-decoration: underline;
  &:active{
    color:var(--accent-color);;
  }
}