.imgGrid{


}

.row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
 
}

.cell{
  // background-color: var(--bg-color);

  
}

.borders{
  border: solid 1px var(--border-color, black);
}